@font-face {
font-family: 'New Athletic M54';
src: url("../medias/fonts/New Athletic M54.ttf");
}

@font-face {
    font-family: 'rajdhanibold';
    src: url('../medias/fonts/rajdhani-bold-webfont.eot');
    src: url('../medias/fonts/rajdhani-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../medias/fonts/rajdhani-bold-webfont.woff2') format('woff2'),
         url('../medias/fonts/rajdhani-bold-webfont.woff') format('woff'),
         url('../medias/fonts/rajdhani-bold-webfont.ttf') format('truetype'),
         url('../medias/fonts/rajdhani-bold-webfont.svg#rajdhanibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Vous DEVEZ intégrer cette feuille de style à votre page HTML 
grâce à la balise suivante que vous avez juste à copier/coller

<link rel="stylesheet" href="css/styleGeneral.css />

Cette feuille de style contient les mises en forme GENERALES
pour TOUTES les pages, comme les tailles et la police des titres,
le @font-face qu'on ne doit PAS remettre dans les autres pages etc.
Si à un moment du code vous avez besoin de copier/coller un
morceau vers une autre page, alors c'est que ce morceau DOIT
être collé ICI, et pas ailleurs. Merci */

body {
    font-family: 'rajdhanibold';
    background-position: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family : 'New Athletic M54';
}

p {
    font-family : 'rajdhanibold';
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}

input[type="text"], input[type="email"], input[type="password"]  {
    font-family: 'rajdhanibold';
    font-size: 20px;
    padding: 10px 0px 10px 10px;
    background-color: #DCDDDE;
    border-radius: 10px;
    border: white 5px solid;
}