body#index {
    background: {
        size: contain;
        color: #DCDDDE;
    }
    background: url(../../medias/images/backgroundAccueil.jpeg) no-repeat center fixed;
    height: 100vh;
	display : flex;
	flex-direction: column;
    
    main {
        display:flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-grow: 1;
    }
    
    #play {
        position: relative;
        
        .jouer{
            position : absolute;
            height : 50vh;
            top : 15vh;
            left : 5vh;
            z-index : 100;
        }
        
        .disque{  
            margin-top:10vh;
            height : 60vh;
            
            animation: tourner 1s linear infinite;
            animation-play-state: paused;
            animation-fill-mode: forwards;
        }
        
        &::before {
            content : "";
            background : url(../../medias/images/casqueAccueil.png);
            background: {
                size: contain;
                repeat: no-repeat;
            }
            
            width : 250%;
            height: 250%;
            position : absolute;
            top:-25%;
            left:-75%;
        }
        
       .jouer:hover+.disque {
            animation-play-state: running;
        }
    }
}

/*
* Animations
*/
@keyframes tourner {
    0% {
        transform: rotate(0deg) scale(1);
    }
    
    10% {
        transform: rotate(360deg/10) scale(1.3);
    }

    100% {
        transform: rotate(360deg) scale(1); 
    }
}
